body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9dfdf;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #367588;
    padding: 15px 0;
    color: #fff;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.section {
    padding: 60px 0;
}

.intro-text {
    max-width: 60%;
    
}

.photo img {
    max-width: 300px;
    border-radius: 50%;
   
}

.cta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cta .btn {
    background-color: #01819e;
    color: #1b0202;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-icon {
        display: block;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .intro-text {
        max-width: 100%;
    }

    .photo img {
        width: 100%;
        max-width: 250px;
        margin-top: 20px;
    }
}
